<html>
  <head>
    <% if (frontmatter) { %>
      <title><%= frontmatter.title %></title>
    <% } %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/civility.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/ocean.css">
  </head>
  <body>
    <div class="mt4 mb4 mx-auto fit-800 article">
      <%- blog %>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
